@CHARSET "UTF-8";

.top{
	height: 30%;
	width: 100%;
	
	background-image: url("../images/bt2.jpg");
}
.float{
	float: left;
}

.bottom1{
	width: 20%;
	height: 70%;
    background-color:#3992d0;
    padding-left: 30px;
	
}
.bottom2{
	width: 80%;
	height: 70%;
	
}
.iframe{
   width: 100%;
   height: 100%;
   border-width: 1px;
   background-image: url("img9.JPEG");
}
.myli
{
	
}
.myli:FOCUS {
	background-color: #00c;
}


#xuanze{
	width: 150px;
	height: 30px;
	color: #f0f;
}

