<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  
  <!-- ++++++++++++++++++++++++++++++++++++++++++++++++李士群++++++++++++++++++++++++++++++++++++++ -->
  <!-- 登录界面处理逻辑 -->
  <servlet>
         <servlet-name>MyLogin</servlet-name>
         <servlet-class>com.lsq.servlet.login.MyLogin</servlet-class>
         </servlet>
  <servlet-mapping>
       <servlet-name>MyLogin</servlet-name>
        <url-pattern>/lsq/MyLogin</url-pattern>
  </servlet-mapping>
  <!-- 注册界面处理 -->
  <servlet>
    <servlet-name>MyZhuce</servlet-name>
    <servlet-class>com.lsq.servlet.login.MyZhuce</servlet-class>
  </servlet>
 
  <servlet-mapping>
    <servlet-name>MyZhuce</servlet-name>
    <url-pattern>/lsq/MyZhuce</url-pattern>
  </servlet-mapping>
  
  <!-- 修改个人信息的界面处理 -->
   <servlet>
    <servlet-name>UnPChange</servlet-name>
    <servlet-class>com.lsq.servlet.mid.UnPChange</servlet-class>
  </servlet>
 

  
  <servlet-mapping>
    <servlet-name>UnPChange</servlet-name>
    <url-pattern>/lsq/UnPChange</url-pattern>
  </servlet-mapping>
  <!--真是信息的修改 -->
   <servlet>
    <servlet-name>RelChange</servlet-name>
    <servlet-class>com.lsq.servlet.mid.RelChange</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>RelChange</servlet-name>
    <url-pattern>/lsq/RelChange</url-pattern>
  </servlet-mapping>
  <!-- 订单修改 -->
  <servlet>
    <servlet-name>OrderChange</servlet-name>
    <servlet-class>com.lsq.servlet.mid.OrderChange</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>OrderChange</servlet-name>
    <url-pattern>/lsq/OrderChange</url-pattern>
  </servlet-mapping>
  <!-- 点解预定 -->
  <servlet>
    <servlet-name>Reserve</servlet-name>
    <servlet-class>com.lsq.servlet.reserve.Reserve</servlet-class>
  </servlet>
 

  
  
  <servlet-mapping>
    <servlet-name>Reserve</servlet-name>
    <url-pattern>/lsq/Reserve</url-pattern>
  </servlet-mapping>
  <!-- 查找房间 -->
   <servlet>
    <servlet-name>SelectRoom</servlet-name>
    <servlet-class>com.lsq.servlet.reserve.SelectRoom</servlet-class>
  </servlet>
 

  <servlet-mapping>
    <servlet-name>SelectRoom</servlet-name>
    <url-pattern>/lsq/SelectRoom</url-pattern>
  </servlet-mapping>
  <!-- 删除订单 -->
   <servlet>
    <servlet-name>OrderDel</servlet-name>
    <servlet-class>com.lsq.servlet.mid.OrderDel</servlet-class>
  </servlet>
  

  <servlet-mapping>
    <servlet-name>OrderDel</servlet-name>
    <url-pattern>/lsq/OrderDel</url-pattern>
  </servlet-mapping>
  <!-- roomtype修改 -->
  <servlet>
    <servlet-name>RoomTypeChange</servlet-name>
    <servlet-class>com.ht.servlet.change.RoomTypeChange</servlet-class>
  </servlet>
  
  

  
  <servlet-mapping>
    <servlet-name>RoomTypeChange</servlet-name>
    <url-pattern>/ht/RoomTypeChange</url-pattern>
  </servlet-mapping>
  
  <!-- room修改 -->
  <servlet>
    <servlet-name>RoomSelect</servlet-name>
    <servlet-class>com.ht.servlet.select.RoomSelect</servlet-class>
  </servlet>
 
  
  <servlet-mapping>
    <servlet-name>RoomSelect</servlet-name>
    <url-pattern>/ht/RoomSelect</url-pattern>
  </servlet-mapping>
  
  <!-- room更新-->
   <servlet>
    <servlet-name>RoomUpdate</servlet-name>
    <servlet-class>com.ht.servlet.select.RoomUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>HoomAdd</servlet-name>
    <servlet-class>com.ht.servlet.add.HoomAdd</servlet-class>
  </servlet>

  
  <servlet-mapping>
    <servlet-name>RoomUpdate</servlet-name>
    <url-pattern>/ht/RoomUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>HoomAdd</servlet-name>
    <url-pattern>/ht/HoomAdd</url-pattern>
  </servlet-mapping>	
  
  <!-- 图表 -->
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>org.jfree.chart.servlet.DisplayChart</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/DisplayChart</url-pattern>
  </servlet-mapping>
  
  <!-- 拦截所有页面的过滤器     用来处理所有的乱码 -->
   <filter>
        <filter-name>lanjie</filter-name>
        <filter-class>com.lsq.gongju.MyFilet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>lanjie</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
  
  
   <!-- 拦截所有非法登录的用户 -->
   <!--  
  <filter>
        <filter-name>login</filter-name>
        <filter-class>com.lsq.gongju.LogionFilet</filter-class>
  </filter>
  <filter-mapping>
     <filter-name>login</filter-name>
     <url-pattern>/mymid/*</url-pattern>
  </filter-mapping>
  -->
  
 
  
 
  <!-- 李士群的代码 -->
  
  <!--张涛-->
  <filter>
		<filter-name>MyFilter</filter-name>
		<filter-class>com.zt.util.MyFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>MyFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
	</filter-mapping>

	<servlet>
		<servlet-name>MagServlet</servlet-name>
		<servlet-class>servlet.MagServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderServlet</servlet-name>
		<servlet-class>servlet.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>OrderUpdateServlet</servlet-name>
		<servlet-class>servlet.OrderUpdateServlet</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>MagServlet</servlet-name>
		<url-pattern>/MagServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderServlet</servlet-name>
		<url-pattern>/OrderServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderUpdateServlet</servlet-name>
		<url-pattern>/OrderUpdateServlet</url-pattern>
	</servlet-mapping>
  <!--张涛-->
  
  <!-- yzz -->
  
  <servlet>
    <servlet-name>PersonlServlet</servlet-name>
    <servlet-class>com.yzz.PersonlServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ProfileServlet</servlet-name>
    <servlet-class>com.yzz.ProfileServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>com.yzz.EditServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.yzz.DeleteServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>PersonlServlet</servlet-name>
    <url-pattern>/servlet/PersonlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProfileServlet</servlet-name>
    <url-pattern>/servlet/ProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/servlet/EditServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/servlet/DeleteServlet</url-pattern>
  </servlet-mapping>
  
  <!-- yzz -->
  
  
  
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
    
    
   
  

</web-app>
