@CHARSET "UTF-8";
.beijing{
	background-color: #fff;
}
.wenben{
	width: 300px;
	height: 30px;
}
#mytable{
	color: #FFF;
	font-family: 楷体;
	background-color: #222;
	font-size: 16px
}
#mytable1{
	color: #FFF;
	font-family: 楷体;
	background-color: #222;
	font-size: 20px;
}
#mytable2{
	color: #FFF;
	font-family: 楷体;
	
	font-size: 20px;
}
#but{
	width:80px;
}
#mybut{
	background-color: #faa755;
	color: #FFF;
	margin: 3px;

}
#xiala
{
	width: 95%;
	border-radius:5px;
	height:40px;
	margin: 5px;
	color: #000;
	font-size: 16px;
}